@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/base_bgr.PNG");
    background-position: center center;
    background-position: 100% 100%;
    filter: blur(2px);
    z-index: -9;
}

#Responsive#Responsive {
    width: 90%;
    margin-left: 10%;
}

.jAlbum #jAlbum-content#jAlbum-content p {
    font-size: .6rem;
    margin: 0;
}

.back {
    color: red;
    font-size: 2rem;
    position: fixed;
    z-index: 10;
    left: 0%;
}

.jAlbum #jAlbum-footer .left.left a {
    position: fixed;
    left: 0%;
    top: 25px;
    font-size: 4rem;
    color: greenyellow;
}

div.text-box.folderTitle.folderTitle p {
    font-weight: bold;
    text-shadow: 0px 0px 7px #000000;
    transform: scale(1, 1.5);
    color: white;
    width: 1rem;
    padding-bottom: 1rem;
}

div.text-box.folderTitle {
    padding-left: 20px !important;
}