@media all and (min-width:600px) {
    #we#we article {
        width: 50%;
        height: 6rem;
    }
    #top#top {
        height: 15rem;
    }
    #top#top h1{
        font-size: 1.9rem;
    }
    #top#top p{
        font-size: 1rem;
    }
    #we#we .icon i {
        top: 40%;
    }
    #gallery#gallery{
        height: 10rem;
    }
}
