<nav class="light-blue lighten-1">
    <div class="nav-wrapper s12">        
        {{#if menuIcons}}
        <ul class="right">
            <li>
                <a href="#/">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
            <li>
                <a id="refresh" href="#/search/{{hash}}/{{code}}">
                    <i class="material-icons">autorenew</i>
                </a>
            </li>
        </ul>
        {{/if}}
    </div>
</nav>