{{> nav}}
<div class="conteiner">
    <div class="carousel">
        <a class="carousel-item" href="#">
            <img src="img/bus.jpg">
        </a>
        <a class="carousel-item" href="#">
            <img src="img/tram.jpg">
        </a>
        <a class="carousel-item" href="#">
            <img src="img/trolley.jpg">
        </a>

    </div>
    <div class="row">

        <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">receipt</i>
            <input placeholder="" id="stopNum" type="text" class="validate">
            <label for="stopNum">Enter stop code</label>
            <a class="waves-effect waves-light btn btn-large light-blue" href="#/search">
                <i class="material-icons left">search</i></a>
        </div>
        <div class="col s3 center">
            {{#if error}} {{> error}} {{/if}}
        </div>
    </div>
</div>