/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.card.horizontal .card-image img {
  float: left !important;
  width: 260px !important;
  height: 150px !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 10px 0 0 10px;
}

.card.horizontal {
  width: 100% !important;
  height: 150px !important;
  border-radius: 10px;
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: #29b6f6 !important;
}

.input-field .prefix.active {
  color: #29b6f6;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6 !important;
}

div.carousel {
  /* margin-bottom: -10rem !important; */
  margin-top: -5rem !important;
  margin-bottom: -5rem !important;
}

p.stopName{
  font-size: 1.1rem !important;
  font-weight: bolder !important;
  text-shadow:1px 1px 4px rgb(121, 121, 121);
}

.card-title {
  text-transform: uppercase !important;
  font-size: 1rem !important;
  font-weight: bolder !important;
  font-style: italic !important;
  box-shadow: 0px 0px 10px rgba(210, 210, 210, 0.7) inset !important;
  border-radius: 10px 10px 0px 0px !important;
  text-align: center !important;
  margin-top: -15px !important;
  margin-bottom: 0px !important;
}

.card-content p {
  font-weight: bolder !important;
  font-size: 0.8rem !important;
  text-align: center !important;
  box-shadow: 0px 0px 10px rgba(210, 210, 210, 0.7) inset !important;
  border-radius: 0px 0px 10px 10px !important;
  height: 100px !important;
  padding: 5px;
  overflow: auto;
}

.card {
  background: linear-gradient(to bottom, #A3A5A8 10%, #E6E7E8 90%) !important;
}

.material-icons {
  font-size: 3rem !important;
}
#app{
  margin-bottom: 100px;
  margin-top: 80px;
}
nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
body{
  background: #d4d7d8;
}